{% extends 'all-awwards/base.html' %}

{% block content %}
{{block.super}}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="background-color:rgb(117, 206, 226);">
            
    
        <div class="container">
        <img src= "https://bit.ly/2JL2ySF" style="width:200px;height:200px;" >

        <h1 class="text-center" style="color:white;">"Welcome to New Awwards"</h1>    
            <div class="row">
                          

  
        {% for images in images%}
        
        <div class="col-md-2" id="im"> 
        <img src="{{images.image.url}}" alt="Image description" align="middle" style="width:150%">
        <!-- <img src="{{images.image.url}}" alt="Image description" align="middle"> -->

        <p>{{images.image_name}}</p>
        <p>{{images.image_caption}}</p>
        <p>{{images.post_date}}</p>
      
</div> 
    {%endfor%}
   

</div>
</div>

   
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        <p>Posted by: yvetteveve</p>
        <p>Contact information: <a href="yvetteumubyeyi2@gmail.com">
        yvetteumubyeyi2@gmail.com</a>.</p>
        </div>
    </footer> 

</html>
{% endblock %}
