{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
    <title> {{title}} </title>
    {% else %}
    <title>Instagram</title>
    {% endif %}
 
    {% block styles %}
    {% bootstrap_css %}
    <style>
      img.smallscreen { display: none; }
      @media only screen and (max-width: 320px) {
          img { 
              display: none; 
          }
          img.smallscreen { 
              display: inline; 
          }
      }
    </style>
  <link rel="stylesheet" href="{% static 'CSS/basephoto.css' %}">
    {% endblock %}
  </head>
  <!-- <body style="background-color:rgb(117, 206, 226);"> -->
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %}
   {% endblock %}
  </body>
</html>