{% extends 'all-instagram/base.html' %}

{% block content %}
{{block.super}}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="background-color:rgb(117, 206, 226);">
            
    
        <div class="container">
        <img src= "https://bit.ly/2JL2ySF" style="width:200px;height:200px;" >

        <h1 class="text-center" style="color:white;">"Welcome to My Instagram"</h1>    
            <div class="row">
                          

  
        {% for im in images%}
        
        <div class="col-md-2" id="im"> 
        <img src="{{im.image.url}}" alt="Image description" align="middle">
        
         
        <p>{{im.image_name}}</p>
        <p>{{im.image_caption}}</p>
        <p>{{im.post_date}}</p>
        
       
</div> 
    {%endfor%}


</div>
</div>
</boby>
</html>
{% endblock %}
